.div30{
    width: 30%;
    float: left;
}
.div70{
    width: 70%;
    float: left;
}
form.ccf,.ccf{
    padding: 40px 20px;
}
form.ccf label{
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 8px;
    display: block;
}

form.ccf .form-text{
    padding: 5px 10px;
    width: 100%;
}
form.ccf .form-group{
    margin-bottom: 30px;
}
form.ccf select{
    height: auto!important;
}
form.ccf .btn{
    margin-top: 20px;
}
.ccf table th label{
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
}
.ccf table td label{
    text-transform: capitalize;
}
.ccf_title{
    padding: 10px 20px!important;
    font-size: 24px!important;
    font-weight: bold!important;
    border-bottom: 1px solid #d3d3d3;
    text-transform: capitalize;
    background-color: #fff;
    color: #398DE2;
    height: 35px;
    text-shadow: 1px 1px #D6D6D6;
}
form.ccf{
    background-color: #fff;
}

.option_field_hidden{
    display: none;
}
#ccf_name_error{
    color: red;
}

#plugin-title{
    background-image: url('../../assets/banner-772x250.png');
    position: relative;
    margin: 0;
}

#plugin-title.with-banner h2 {
    font-size: 30px;
    max-width: 682px;
    position: absolute;
    left: 30px;
    bottom: 20px;
    padding: 8px 15px;
    margin-bottom: 4px;
    color: #fff;
    background: rgba( 30, 30, 30, 0.9 );
    text-shadow: 0 1px 3px rgba( 0, 0, 0, 0.4 );
    -webkit-box-shadow: 0 0 30px rgba( 255, 255, 255, 0.1 );
    -moz-box-shadow: 0 0 30px rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 0 30px rgba( 255, 255, 255, 0.1 );
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

table td.sort:before {
    content: "\e032";
    font-family: WooCommerce;
    text-align: center;
    line-height: 22px;
    color: #ccc;
    display: block;
    width: 17px;
    float: left;
    height: 100%;
}
table td.sort{
    width: 18px;
}

.select_all{ vertical-align: middle;}

.status-enabled:before, .status-manual:before {
    line-height: 1;
    content: "";
    color: #51920A;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: WooCommerce;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    text-indent: 0;
    top: 0;
    left: 0;
    text-align: center;
}
.status-enabled,.status-manual{
    font-size: 1.4em;
    margin: 0 auto;
    display: block;
    text-indent: -9999px;
    position: relative;
    height: 1em;
    width: 1em;
}

.woocommerce_page_ccf_settings_menu .button-primary{
    background-color: #398DE2!important;
    text-shadow: none!important;
    border: none!important;
    box-shadow: 0 0 10px 1px #B5B5B5!important;
    height: 36px!important;
    line-height: 36px!important;
    margin-right: 10px!important; 
    margin-bottom: 10px!important; 
}
.ccf span.dashicons{
    border: 1px solid;
    border-radius: 50%;
    margin: 0 auto;
    color: #888;
    padding: 2px;
    font-size: 18px;
    width: 18px;
    height: 18px;
    margin-right: 3px;
    text-shadow: 1px 1px #D4D4D4;
}
.ccf a:focus{
    box-shadow: none;
}
.ccf_title .button-primary{
    float: right;
}
.ccf span.dashicons.dashicons-yes{
    color: #398DE2;
}
.action span.dashicons{
    color: rgba(255, 94, 94, 0.87);

}